/src/cscope.out
/src/terr_file.o
/src/terr_line.o
/src/terr.o
/terr-design.vsd
/terr.IAB
/terr.IAD
/terr.IMB
/terr.IMD
/terr.PFI
/libterr.a
/terr.PO
/terr.PR
/terr.PRI
/terr.PS
/terr.WK3
/test/terr_t1.o
